
.google-feed .googlefeed-title {
    height:20px;
    width:500px;

}

    .google-feed .googlefeed-url {
        
        color:#0026ff;


    }

    .google-feed{

    	border:solid #ddd 1px;
        background-color: #FAEFD2;

    }
    .car {
        background-color: #FAEFD2;
    	border:solid #ddd 1px;
    }

.rssFeed-Header
{

    font-family:'Comic Sans MS','Times New Roman',Arial,Verdana;
    font-size:1.2em;
    background-color:#5e7f98;
    color:#fff;
    padding-left:5px;

}
.rssFeed-Welcome
{
    background-color:#395061;
    color:#8faebb;
    font-size:1em;
    padding-left:5px;

}

.dropdown-Url {

    margin-left: 900px;
}